<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="stefano l.">
    <title>iPhone 7</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header banner">
                <p>Get in Cable karamblam service and got the best games applications, ring tones and images!</p>
                <button type="button" class="navbar-toggle" id="burgerking">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            
        </div>
        <!-- /.container -->
    </nav>
    
    <div class="container wrapper" ng-controller="Phones"> 
        <div class="row">
            <div class="col-lg-12 text-center hero">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="heroleft">
                        <div id="pone" class="pone">
                            <img class="phoneleft" src="images/black-left1.png" width="210" height="auto" alt="phone-left">
                            <img class="phoneright" src="images/black-right1.png" width="210" height="auto" alt="phone-right">
                        </div><!--/. endof pone -->
                        <div id="ptwo" class="ptwo">
                            <img class="phoneleft" src="images/silver-left.png" width="210" height="auto" alt="phone-left">
                            <img class="phoneright" src="images/silver-right.png" width="210" height="auto" alt="phone-right">
                        </div><!--/. endof pone -->
                        <div id="pthree" class="pthree">
                            <img class="phoneleft" src="images/gold-left.png" width="210" height="auto" alt="phone-left">
                            <img class="phoneright" src="images/gold-right.png" width="210" height="auto" alt="phone-right">
                        </div><!--/. endof pone -->
                    </div><!--/.  heroleft -->   
                </div><!--/. endof col-md-6 -->    
                <div class="col-md-6 col-sm-7 col-xs-12">
                    <div class="heroright">
                        <h1>Discover a new world of phones.<br />
                        claim your own
                        <span>IPhone 7</span>
                        </h1>
                        <div class="selection">
                            <div class="circle circle-silver">
                                <p>{{silver}}</p>
                            </div>
                            <div class="circle circle-black">
                                <p>{{black}}</p>
                            </div>
                            <div class="circle circle-gold">
                                <p>{{gold}}</p>
                            </div>
                        </div><!--/. endof selection -->
                        <div class="col-md-8 col-sm-12 col-xs-12 claimitnow">
                            <button type="button" ng-click="selectedPhone = 0" class="btn btn-primary btn-lg btn-block">Claim it now</button>
                        </div><!--/. claimitnow -->    
                    </div><!--/.  heroright -->
                </div><!--/. endof col-md-6 --> 
            </div>
        </div>
        <!-- /.row -->
        
        <div class="row">
            <div class="col-md12 text-center">
                <section id="messages">
                    <h3>We have {{totalPhones}} brand new phones available for sale!</h3>
                    <div class="list {{($index == 'selectedPhone') ? 'show':'noshow'}}" ng-repeat="phone in phones">
               
                </section>
                
                
            </div>    
        </div>        
        
    </div>
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Subscription Service Fee £ 2.03 (inclVAT) per sms, 3sms per week (not including your fixed newtwork fees). The users must prove that they have been tested by the provider of the network to gain access to this content. We reserve the right promotional material sending which we think will interest you. Service Provider: Veoo. Hotline: 80009700. Email: infocy@veoo.com. To end the service send OFF WIN in 6808. For deletion from our promotional mailing lists to send OFF LISTS 6808.0 winner randomly selected every 3 minesT in 6808.</p>
            </div>
        </div>    
    </footer>
    <!-- /. endof-container -->
    <!-- scripts -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular.route.min.js"></script>
<script src="js/lib/angular.resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/script.js"></script>
</body>
</html>